
<div class="header">
    <!-- <div class="cover"></div> -->
    <div class="content">
        <div class="container">
            <div class="row" style="margin-top: 100px;">
                <div class="col-6" data-aos="fade-left">
                    <img src="assets/ingenium/logo.png" alt="" style="width: 250px;">
                    <p class="headerTitle" style="margin-top: 150px;">WEBINAR GRATUITO</p>
                    <p class="headerSubtitle">LECTURA DE PLANOS DE ARQUITECTURA</p>
                    <div class="row">
                        <div class="col-6">
                            <div class="centerVertical">
                                <img src="assets/ingenium/Grupo 637.svg" alt="" style="width: 50px; height: 50px;">
                                <div>
                                    <p class="headerDetails detailsImage">MIÉRCOLES</p>
                                    <p class="headerDetails detailsImage">03 SETIEMBRE</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="centerVertical">
                                <img src="assets/ingenium/Grupo 643.svg" alt="" style="width: 50px; height: 50px;">
                                <div>
                                    <p class="headerDetails detailsImage">HORA PERÚ</p>
                                    <p class="headerDetails detailsImage">19:30 H</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div style="background: white;" class="col-6" data-aos="fade-right">
                    <div style="padding: 50px 25px;">
                        <h4 class="formularioTitle">COMPLETA EL FORMULARIO PARA TU CERTIFICADO</h4>
                        <br>
                        <div class="row">
                            <div class="col">
                                <input class="formulario" type="text" placeholder="Nombres">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <input class="formulario" type="text" placeholder="Apellidos">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <input class="formulario" type="text" placeholder="Correo Electronico">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <input class="formulario" type="text" placeholder="Celular">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      He leido y acepto los <span style="text-decoration: underline black;">terminos y condiciones</span> y la <span style="text-decoration: underline black;">politica de privacidad</span> 
                                    </label>
                                  </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col" style="display: flex; justify-content: center;">
                                <div class="buttonF">
                                    <h4>Enviar Datos</h4>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div> 
            </div> 
        </div>
        <br>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-4 subBanner" style="padding: 35px; text-align: center;">
            <img src="assets/ingenium/Grupo 599.png" alt="">
        </div>
        <div class="col-8 subBanner2">
            <p>INTERPRETACIÓN DE PLANOS DE</p>
            <p>ARQUITECTURA PARA EDIFICACIONES</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div>
                <div class="centerVertical">
                    <img src="assets/ingenium/Grupo 440.svg" alt="" style="width: 50px; height: 50px;">
                    <div>
                        <p class="subheaderDetails detailsImage">Inicio:</p>
                        <p class="subheaderDetails detailsImage">21 de setiembre</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div>
                <div class="centerVertical">
                    <img src="assets/ingenium/Grupo 440.svg" alt="" style="width: 50px; height: 50px;">
                    <div>
                        <p class="subheaderDetails detailsImage">Inicio:</p>
                        <p class="subheaderDetails detailsImage">21 de setiembre</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div>
                <div class="centerVertical">
                    <img src="assets/ingenium/Grupo 440.svg" alt="" style="width: 50px; height: 50px;">
                    <div>
                        <p class="subheaderDetails detailsImage">Inicio:</p>
                        <p class="subheaderDetails detailsImage">21 de setiembre</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div>
                <div class="centerVertical">
                    <img src="assets/ingenium/Grupo 440.svg" alt="" style="width: 50px; height: 50px;">
                    <div>
                        <p class="subheaderDetails detailsImage">Inicio:</p>
                        <p class="subheaderDetails detailsImage">21 de setiembre</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
