.header{
    background-image: url('../../../assets/ingenium/cover.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: calc(100vh);
}
// .cover{
//     background: transparent linear-gradient(270deg, #040041B2 0%, #04003EB2 4%, #130136BA 10%, #1C0F35D7 36%, #1C0F35ED 58%, #1C0F35FA 75%, #1A093E 86%, #2F2248 100%) 0% 0% no-repeat padding-box;
//     opacity: 0.96;
//     width: 100%;
//     height: calc(100vh);
// }
.content{
    // position: absolute;
    z-index: 2;
    width: 100%;
    top: 0px;
    display: flex;
    align-items: center;
    zoom: 85%;
    // height: calc(100vh);
}
.subBanner{
    background: #94004C;
}
.subBanner2{
    background: #372760;
    padding: 25px 70px;
    p{
        color: white;
        font-weight: bold;
        font-style: italic;
        font-size: 35px;
        margin-bottom: 1px;

    }
}
.formularioTitle{
    color: #94004C;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.formulario{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    padding: 20px;
    border: solid 3px darkgray;
}
.buttonF{
    background: #AA0058;
    border-radius: 50px;
    height: 80px;
    padding: 25px;
    width: 400px;
    h4{
        text-align: center;
        color: white;
        font-size: 27px;
    }
}
.headerTitle{
    text-align: left;
    letter-spacing: 0px;
    color: #C5BC75;
    text-transform: uppercase;
    opacity: 1;
    font-size: 40px;
    font-weight: bold;
}
.headerSubtitle{
    text-transform: uppercase;
    opacity: 1;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.headerDetails{
    text-transform: uppercase;
    opacity: 1;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.subheaderDetails{
    text-transform: uppercase;
    opacity: 1;
    font-size: 25px;
    font-weight: bold;
    color: #404262;
}   

.centerVertical{
    align-items: center;
    display: flex;
}
.detailsImage{
    margin: 0px 0px 0px 20px;
}